{% extends 'manager/manager_index.html' %}
{% block nav %}
    <li>
        <a href="{% url 'manager_index' %}">主页</a>
    </li>
    <li>
        <a href="{% url 'manager_order' 4 %}">订单</a>
    </li>
    <li class="active">
        <a href="{% url 'manager_parkinglot' %}">停车场管理</a>
    </li>
{% endblock %}
{% block content %}
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation" class="active">
            <a href="">停车场信息修改</a>
        </li>
        <li role="presentation">
            <a href="">车位管理</a>
        </li>
    </ul>

    <div class="container">
        parkinglot_info
    </div>
{% endblock %}